# Modules.
/node_modules/

# Compiled files.
/out/

# Configuration.
config.json
config.production.json
config.test*.json

# Notes
/notes/*

# Profiling
*.cpuprofile
*.tsbuildinfo

# Others
.idea/*
.vscode/*